.pp-header-dashboard{
	background: black;
    height: 150px;
    h3{
    	margin-top: 27px;
    	color: #fff;
    }
    ul{
    	position: absolute;
    	bottom: 0;
    }
    li{
    	display: inline-block;
	    color: white;
	    margin-right: 15px;
	    padding: 0 15px 17px;
	    position: relative;
	    &.active:before, &:hover:before{
	    	content: "";
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    border-bottom: 7px solid red;
		    right: 0;
	    }
    }
    a{
    	font-size: 16px;
    	font-family: "Lato-Bold";
    	color: #fff;
    	text-decoration: none;
    	padding-bottom: 25px;
    	small{
    		position: relative;
		    top: -10px;
		    left: 5px;
		    color: red;
    	}
    }
}
.pp-todo {
    float: left;
    width: calc(50% - 12.5px);
    padding: 0px 15px;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 20px;
    min-height: 265px;
    position: relative;
    background-color: #f3f3f6;
    &:last-of-type{
    	margin-right: 0;
    }
    &:last-of-type + *{
    	clear: both;
    }
    h6{
    	font-size: 18px;
    	margin-top: 20px;
    	margin-bottom: 13px;
    }
    p{
    	font-family: 14px;
    	line-height: 24px;
    }
    a{
    	position: absolute;
    	bottom: 25px;
    	left: 20px;
    	right: 20px;
    }
}
.pp-big-link{
	font-size: 16px;
	font-family: "Lato-Bold";
}
.pp-chart .pp-chart-title{
	float: left;
    padding: 0;
    font-size: 14px;
}
.pp-chart-legend{
	float: right;
    >*{
        margin-right: 55px;
    	position: relative;
    	&:before{
    		content: "";
    	    height: 10px;
    	    width: 24px;
            margin-right: 10px;
    	    background: #f70c4b;
    	    position: absolute;
    	    right: 100%;
    	    top: 50%;
    	    transform: translateY(-50%);
    	}
        &:last-of-type{
            margin-right: 0;
        }
    }
}
.pp-chart-legend__interviewed{
    &:before{
        background-color: #e9298f;
    }
}
.pp-chart-legend__listed{
    &:before{
        background-color: #23f040;
    }
}
.pp-box-dashboard-aside{
    padding: 10px 30px 23px;
}
.pp-head-bg{
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -10px;
    background: #171516;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
}
.pp-reward-text{
    padding: 0 44px;
}
.pp-info-scroll{
    margin-top: -20px;
    .nano-pane{
        top: 20px;
    }
}
.pp-info-item{
    border-bottom: 1px solid $box-border-color;
    padding: 18px 0;
}
.pp-info__meta{
    font-family: "Lato-regular";
    font-size: 14px;
    margin-bottom: 15px;
    color: #5e5a5b;
}