<div class="fq-main" ng-controller="portfolioController">
  <div class="fq-detail">

    <figure class="fq-portfolio" portfolio>
    <div class="item-overlay hover"></div>
      <img ng-src="assets/img/{{portDatas.banner}}" class="active" alt="{{portDatas.title}}">
      <figcaption class="fq-portfolio__detail">
        <div class="rf-title">
          <h1>{{portDatas.title}}</h1>
            <span>Created on {{portDatas.dateCreated}}</span>
        </div>
      </figcaption>
    </figure>
    <div class="rf-title">
      <i>{{portDatas.industry}}</i><br>
      <span class="rf-note"ng-if="portDatas.status=='Coming Soon'">Note : Coming Soon</span>
      <p ng-class="portDatas.changed? 'stroke':''"><a href="{{portDatas.site}}">live website</a></p>
      <p ng-show="portDatas.changed"><a href="{{portDatas.MockSite}}">Mock up website</a></p>
      <div class="fq-prev" ng-if="$stateParams.id > 1">
        <a ui-sref="portfolio({id: ($stateParams.id-1)})"><div class="fq-prev__btn btn"></div></a>
      </div>
      <div class="fq-next" ng-if="portDatasAll.length> $stateParams.id">
        <a ui-sref="portfolio({id: (1++$stateParams.id)})"><div class="fq-next__btn btn"></div></a>
      </div>
    </div>
  </div>
</div>
<div class="fq-back">
  <a ui-sref="home" back>
    <div class="fq-back__btn btn">
    </div>
  </a>
</div>