<div class="fq-main">
  <div class="fq-detail">
    <!-- <div class="item-overlay"></div> -->
    <figure class="fq-portfolio" portfolio>
      <img ng-src="assets/img/img1.png" class="active" alt="project">
    </figure>
    <div class="rf-title">
      <h1>SELAKSA IMAJI</h1>
      <span>Created on july '15</span><br>
      <i>Ecommerce, Startup web</i><br>
      <p><a href="http://selaksaimaji.com">live website</a></p>
      <a ui-sref="portfolio({id:2})">adsd</a>
    </div>
  </div>
</div>
<div class="fq-back">
<a ui-sref="home" back>
  <div class="fq-back__btn btn">
  </div>
</a>
</div>