<div class="fq-main">
  <div class="fq-main__item">
    <a ui-sref="portfolio({id:1})"><div class="item-overlay"></div>
    <figure class="fq-portfolio">
      <img ng-src="assets/img/img1.png" alt="project">
      <figcaption class="fq-portfolio__detail">
        <div class="rf-title">
          <span>PROJECT 1</span>
          <h2>AudioSlang</h2>
          
          <span>Html, jquery, Json, Css3</span>
        </div>
      </figcaption>
    </figure></a>
  </div>
  <div class="fq-main__item">
    <div class="item-overlay"></div>
    <figure class="fq-portfolio">
      <img ng-src="assets/img/img2.png" alt="project">
      <!-- <figcaption>
        <div class="rf-title">
          <span>Created on july '15</span>
          <p>project1</p>
        </div>
        <div class="rf-more">
          <span>see more</span>
        </div>
      </figcaption> -->
    </figure>
  </div>
  <div class="fq-main__item">
    <div class="item-overlay"></div>
    <figure class="fq-portfolio">
      <img ng-src="assets/img/img3.png" alt="project">
      <!-- <figcaption>
        <div class="rf-title">
          <span>Created on july '15</span>
          <p>project1</p>
        </div>
        <div class="rf-more">
          <span>see more</span>
        </div>
      </figcaption> -->
    </figure>
  </div>
</div>