html, body, main, .row, div[class*="col-md"], .fq-box{
	height: 100%;
}
.fq-dishes,.fq-dishes--main, .fq-box{
	width: 100%;
	height: 100%;
}
.fq-full{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.fq-overlay{
	@extend .fq-full;
	background-color:lighten(#000, 20%);
	opacity: .5;
}
.fq-center{
	position: absolute;
    top: 40%;
    left: 50%;
    right: auto;
    bottom: auto;
    text-align: center;
    @include transform(translate(-50%, -50%));
}
.fq-box{
	overflow-x:hidden;
	overflow-y:auto;
}
.fq-background{
	  height: 100%;
	  width: 100%;
    padding-left: 79px;
    padding-right: 72px;
    padding-top: 52px;
    padding-bottom: 44px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/common/ipad@1200.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
@media screen 
  and (min-width: 1024px){ 
  	.fq-background{
  		width: 995px;
  	}
}
svg:not(:root){
	overflow: visible;
}
#robot-arm--left2,#robot-hand--left2{
	visibility: hidden;
	z-index: 9;
}
.fq-monster{
	    position: absolute;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
	bottom: -83px;
	&.kanan{
		width: 120px;
		bottom: auto;
		top: 30%;
		left:auto;
		 transform: none;
		right: 20px;
	}
}
@media screen 
  and (min-width: 1200px){ 
  	.fq-background{
  		width: 1200px;
  	}
}
@media screen 
  and (min-width: 1400px) and (max-width: 1600px) { 
  	.fq-background{
  		width: 1400px;
  	}
}
.fq-background2{
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	  width: 1200px;
	  &+.fq-dishes{
	  	padding-left: 79px;
    padding-right: 72px;
    padding-top: 52px;
    padding-bottom: 44px;
	  }
}