/**{
	font-family: Avenir-Book;
	color: #2C3E50;
}*/
html, #main{
	background: rgba(37, 17, 86, .8);
}
h2{
	margin-top: 0;
}
a{
	color: #fff;
	text-decoration: underline;
}
.stroke{
	text-decoration: line-through;
}
.home.ng-enter .fq-main__item{
	opacity: 0;
}
.home.ng-enter.ng-enter-active .fq-main__item{
	opacity: 1;
}

.home.ng-leave.ng-leave-active .fq-main__item{
	height: 500px;
	  animation-delay: 2s;
}
body, main, html{
	min-height: 100%;
}

.fq-main{
	height: 100%;
	padding-left:235px;
}
.item-overlay{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(37, 17, 86, .8);
    &.hover{
    	background: rgba(37, 17, 86, .4);
    }
}
.fq-main__item{
	float: left;
	width: 100%;
	height: 340px;
	overflow: hidden;
	position: relative;
	@include transition(all ease-in .6s .3s);
	&.active{
		height: 300px;
	}
	&:hover .item-overlay{
	    background: rgba(37, 17, 86, .4);
	}
}
.fq-portfolio__detail{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}
.fq-detail{
	width: 100%;
	height: 100%;
	position: relative;
	.fq-portfolio{
		width: 100%;
		height: 340px;
		margin-bottom: 20px;
		position:relative;
		@include transition(all ease-in .6s);
		&.active{
			height: 500px;
		}
	}
}
.rf-note{
	display: block;
}
.fq-portfolio{
	height: 100%;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.rf-title{
	text-align: center;
	color: #fff;
	p{display: inline-block;}
}
.rf-more{
	float: right;
}
.fq-back{
	position: fixed;
	top: 0;
	left: 235px;
	@include transition(all ease-in .6s .3s);
}
.fq-back__btn{
	border-radius: 0;
    background: black;
    color: white;
    padding: 20px;
    &:before {
	    content: "\f060";
	    display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    @include transform(translate(-50%, -50%));
	}
}
.portfolio.ng-leave .fq-portfolio{
	opacity: 1;
}
@media only screen and (min-width: 788px){
	.portfolio.ng-leave.ng-leave-active .fq-portfolio{
		height: 340px;
		opacity: 0;
	}
	.portfolio.ng-leave.ng-leave-active .fq-back{
		left: 193px;
	}
	.portfolio.ng-enter .fq-back{
		left: 193px;
	}
	.portfolio.ng-enter.ng-enter-active .fq-back{
		left: 235px;
	}
}
.fq-next, .fq-prev{
	position: fixed;
    right: 80px;
    opacity: 1;
	@include transition(all ease-in .6s .3s);
}
.fq-next{
    top: 45%;
}
.fq-prev{
    top: 55%;
}
.fq-next__btn, .fq-prev__btn{
	border-radius: 0;
    background: black;
    color: white;
    padding: 20px;
    &:before {
	    content: "\f062";
	    display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    @include transform(translate(-50%, -50%));
	}
}
.fq-prev__btn:before {
    content: "\f063";
}
.portfolio.ng-leave.ng-leave-active .fq-prev, .portfolio.ng-leave.ng-leave-active .fq-next{
	opacity: 0;
}
.portfolio.ng-enter .fq-prev{
	opacity: 0;
}
.portfolio.ng-enter .fq-next {
	opacity: 0;
}
.portfolio.ng-enter.ng-enter-active .fq-prev, .portfolio.ng-enter.ng-enter-active .fq-next{
	opacity: 1;
}