nav{
	height: 100%;
    width: 235px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-image: linear-gradient(190deg, #b99eee, #492f91);
}
.fq-header{
	position: relative;
}
.fq-box{
    padding: 12px 35px;
	position: relative;
	&.fq-box--avatar::after{
		content:"";
		position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0px;
	    height: 1px;
		background-image: url(../img/divider-top.png);
	}
	&.fq-box--bottom::after{
		content:"";
		position: absolute;
	    left: 0;
	    right: 0;
	    height: 1px;
		background-image: url(../img/divider-top.png);
	    top: 0px;
	}
}
.fq-avatar{
	text-align: center;
	visibility: hidden;
	opacity: 0;
	@include transition(all ease-in .3s .3s);
	&.visible{
		visibility: visible;
    	opacity: 1;
	}
	img{
		width: 123px;
		height: 123px;
		padding: 2px;
		background-color: #a281e4;
		border-radius: 50%;
		margin-bottom: 20px;
	}
	figcaption{
		font-family: Lato-Bold;
		font-size: 16px;
		color: #ffffff;
		small{
			font-size: 14px;
		}
	}
}
.fq-skill__name{
	font-family: Lato-Bold;
	font-size: 14px;
	color: #ffffff;
	margin-top: 0;	
}
.fq-skill__bar{
	height: 7px;
    border-radius: 6px;
    background-color: #fdff25;
}
.fq-contact{
	text-align: center;
}
.fq-box--bottom{
	position: absolute;
    bottom: 0;
}
.fq-mail{
	font-family: Lato-Bold;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    &:hover{
    	text-decoration: none;
    	color: darken(#ffffff, 20%)
    }
    img{
    	margin: auto;
    	margin-bottom: 10px;
    	display: block;
    }
}